.page-footer {
    background: #3C3B39;
    color: #fff;
    @apply px-9 py-8;
}

.page-footer ul li {
    @apply mb-6;
}

.page-footer h4 {
    font-size: 16px;
    line-height: 49px;
    font-weight: 600;
    text-transform: uppercase;
}

.page-footer a {
    font-weight: 300;
}

.page-footer .footer-bottom {
    padding-top: 35px;
    border-top: 1px solid rgba(255, 255, 255, 0.118717);
}

.page-footer .logo {
    @apply mb-8;
}

.page-footer .copy li {
    margin-bottom: 25px;
}

@screen xl {
    .page-footer {
        padding-top: 60px;
        padding-bottom: 100px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .copy {
        text-align: right;
    }

    .copy ul li {
        display: inline-block;
        margin-right: 32px;
    }
}