a.login-btn {
	@apply text-newgray;
}

.btn-join {
	@apply rounded border border-solid border-brown text-brown hover:text-white hover:bg-brown font-medium py-4 px-8;
}

.menu-items a {
	@apply block p-3 mb-1;
}

.menu-items a.active-menu {
	@apply border-b-4 border-solid border-brown-light;
}

.menu-logo {
	min-width: 71px;
	height: auto;
}

/* @media (min-width: 1200px) { */
@screen lg {
	.menu-logo {
		min-width: 201px;
	}

	.menu-items a {
		@apply p-4 mx-2;
	}

	.menu-items li {
		@apply inline-block;
	}

	.btn-join {
		@apply text-newgray border-newgray hover:bg-newgray;
	}
}