.pagination {
    @apply my-9;
    text-align: center;
}

.pagination li {
    @apply mx-4;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
}

.pagination li, .pagination span, .pagination a {
    display: inline-block;
    color: #CDCDCD;
}

.pagination li.prev > *, .pagination li.next > * {
    color: #3C3B39;
}

.pagination li.prev.disabled > *, .pagination li.prev.disabled > * {
    color: #CDCDCD;
}

.pagination .prev > a, 
.pagination .prev > span {
    padding-left: 30px;    
    background: url(../images/left.svg) no-repeat left center;
}

.pagination .next > a, 
.pagination .next > span  {
    padding-right: 30px;
    background: url(../images/right.svg) no-repeat right center;
}

.pagination li.active > * {
    color: #3C3B39;
    position: relative;
}

.pagination li.active span::after {
    content: " ";
    display: block;
    width: 4px;
    height: 4px;
    background-color: #3C3B39;
    border-radius: 100%;
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translate(-50%, 0px);
}