.post {
    width: 100%;
    position: relative;
    margin-bottom: 16px;        
}

/* .post:not(.hidden):not(.post-single) { */
.post.wide:not(.hidden),
.post.vertical:not(.hidden){
    @apply flex items-end;
}

.post.wide, .post.vertical {
    border-radius: 8px;
    color: #fff;
    background-size: cover;
    padding: 16px;
}

.post.wide{
    height: 230px;
}

.post.vertical {
    height: 277px;
}

.post.vertical h2 {
    @apply leading-6;
    font-size: 18px;    
}

.post.vertical .bottom {
    max-width: 134px;
}

.post.vertical .date {
    display:none;
}

.tag {
    background: #fff;
    color: #3C3B39;
    text-transform: uppercase;
    font-weight: 500;
    position: absolute;
    top: 16px;
    left: 16px;
    padding: 4px;
    border-radius: 4px;
}

.date {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

@screen xl{
    .post.vertical {
        height: 360px;
    }
    
    .post.vertical h2 {
        @apply text-2xl;
    }

    .post.vertical .date {
        display:block;
    }

    .tag, .tag small {
        font-size: 12px;
        line-height: 12px;
    }

    .post.vertical .bottom {
        max-width: 100%;
    }
}