.post.post-single {
    max-width: 284px;
    overflow: hidden;
    @apply mx-auto rounded-t-lg mb-8;
}

.post.post-single .post-image {
    @apply mb-2;
    width: 100%;
    height: auto;
}

.post.post-single h2{
    @apply text-2xl my-8;
}

.post-single .post-info {
    padding: 0px;
}

@screen md {
    .post.post-single{
        max-width: 90%;
    }
}

@screen lg {
    .posts {
        @apply grid grid-cols-3;
    }
}