.post-image {
    position: relative;
    margin-bottom: 20px;
}

.post.popular .post-info {
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: #fff;
}

.post-likes, .post-read {
    display: inline-block;
    padding-left: 30px;
    background-repeat: no-repeat;
    background-position: left center;
    margin-right: 20px;
}

.post-likes {
    background-image: url(../images/heart.svg);    
}

.post-read {
    background-image: url(../images/person.svg);
}

.post.popular {
    @apply block;
}

.post.popular h2 {
    font-size: 38px;
    line-height: 46px;
    color: #3C3B39;
}

.post.popular p{
    @apply leading-8;
}

.author-image {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
    margin-top: 6px;
    margin-bottom: 20px;
}

.post-author h5 {    
    font-size: 14px;
    letter-spacing: 0.1em;
    @apply leading-4;
}

@screen lg {
    .post.popular {
        @apply grid grid-cols-2 gap-4;
    }
}

@screen xl {
    .post.popular {
        @apply grid-cols-12 gap-5;
    }

    .post.popular h2 {
        margin-bottom: 0px
    }

    .post-author {
        @apply flex gap-5 items-center;
        margin-top: 6px;
    }

    .author-image{
        margin: 0px;
    }
}